apiVersion: v1
kind: Service
metadata:
  name: plane-minio
  namespace: plane
  labels:
    app.kubernetes.io/name: plane-enterprise
    app.kubernetes.io/component: minio
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: api
      port: 9000
      protocol: TCP
      targetPort: 9000
    - name: console
      port: 9090
      protocol: TCP
      targetPort: 9090
  selector:
    app.kubernetes.io/name: plane-enterprise
    app.kubernetes.io/component: minio
